/* Follow Rovino Ramadhani */
/* ©Copyright 2021 - Rovino Ramadhani */
* input::-webkit-outer-spin-button,* input::-webkit-inner-spin-button {-webkit-appearance: none !important;margin: 0 !important;} * input[type=number] {-moz-appearance:textfield !important;} .svg-cover svg{width: 100%;vertical-align: unset;height: 100%;}